# Secrets Properties

# Database Configuration
secret.mongodb.uri= MONGODB_URI

# SMTP Configuration
secret.mail.username= MAIL_USERNAME
secret.sendgrid.api.key= SENDGRID_API_KEY
secret.mail.password= MAIL_PASSWORD
