# Secrets Properties Example

# SMTP Configuration
secret.mail.host= YOUR_MAIL_HOST
secret.mail.port= 587
secret.mail.username= MAIL_USERNAME
secret.sendgrid.api.key= SENDGRID_API_KEY
secret.mail.password= MAIL_PASSWORD
