<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="alltodo is a web app that allows you to manage projects and tasks, improving your productive.">


    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>alltodo - API RestFul</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/fontawesome-all.css">
    <link type="text/css" rel="stylesheet" href="/css/swiper.css">
    <link type="text/css" rel="stylesheet" href="/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">

    <!-- Favicon  -->
    <link rel="icon" href="/images/Logo_svg/Window-Brand.svg">
</head>

<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->




<!-- Header -->
<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="/images/Logo_png/Negative-Brand@3x.png"
                     style="height: 104px; width: auto; margin-bottom:20px;" alt="alternative">

                <p id="cardTitle">Reset your password</p>
                <!-- Sign Up Form -->
                <div id="formCont" class="form-container">
                    <form id="resetPasswordForm" data-toggle="validator" data-focus="false">
                        <button type="button" id="eye" class="btn"><i id="eyeIcon"
                                                                      class="far fa-eye-slash"></i></button>
                        <div class="form-group">
                            <input type="password" class="form-control-input" id="newPwd" required>
                            <label class="label-control" for="newPwd">${id} </label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control-input" id="newPwd2" required>
                            <label class="label-control" for="newPwd2">Confirm Password</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Reset</button>
                        </div>
                        <div class="form-message">
                            <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form container -->
                <!-- end of sign up form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<input type="text" class="hidden" id="CLIENT_PATH"  th:value="${CLIENT_PATH}">
<input type="text" class="hidden" id="userId"  th:value="${id}">


<!-- Scripts -->
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
        const url = window.location.href;
        const $form = document.getElementById('resetPasswordForm');
        const $formContainer = document.getElementById('formCont');
        const $CLIENT_PATH = document.getElementById('CLIENT_PATH');
        const $userId = document.getElementById('userId');

        $form.addEventListener('submit', (event) => {
            event.preventDefault()
            const pwd = document.getElementById('newPwd').value
            const pwd2 = document.getElementById('newPwd2').value
            const cardTitle = document.getElementById('cardTitle')

            if (pwd === pwd2) {
                axios.post('/resetPassword', {
                    url: "/auth/update-password/"+$userId,
                    newPwd: newPwd
                })
                    .then(function (response) {
                        console.log(response);
                        if (response.data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Password changed successfully',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            setTimeout(function () {
                                window.location.href = $CLIENT_PATH;
                            }, 1500);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Something went wrong',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Passwords do not match',
                    showConfirmButton: false,
                    timer: 1500
                })

            }

        });


        $("#eye").on("click", function () {
            if ($("#eyeIcon").hasClass("show")) {
                $("#eyeIcon").removeClass("show");
                $("#eyeIcon").addClass("fa-eye-slash");
                $("#eyeIcon").removeClass("fa-eye");
                $("#newPwd").attr('type', 'password');
                $("#newPwd2").attr('type', 'password');

            } else {
                $("#eyeIcon").addClass("show");
                $("#eyeIcon").addClass("fa-eye");
                $("#eyeIcon").removeClass("fa-eye-slash");
                $("#newPwd").attr('type', 'text');
                $("#newPwd2").attr('type', 'text');

            }
        });
    </script>


</body>

</html>